*{
	margin: 0;
	padding: 0;	
	text-decoration: none;
	list-style: none;
}
.Our-Gallery{
	width: 100%;
	overflow: hidden;
}
.Background-picture{
	width: 100%;
	overflow: hidden;
}
.Background-picture img{
	width: 100%;
	
}
.nav-div{
	width: 100%;
	position: absolute;
	top: 5%;
	}
	.navbar{
	background-color:rgba(0,0,0,0.5);
}
.navbar-nav li a:hover{
	background-color: rgba(0,0,0,0);
	color: #F44336 ;
}
.navbar-toggle{
	border-color: white;
	
}
.navbar-toggle span{
	background-color: white;
}
.collapse{
	width: 45%;
	margin-left: 200px;
	
}
#bs-example-navbar-collapse-1{
	margin-left: 50%;
}
.collapse ul li{
	width: 80PX;
	
}
.collapse ul li a{
	color: white;
	font-weight: 600;
	font-size: 15px;
}
.navbar-brand{
	color: white;
	font-size: 30px;
	font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand:hover{
	background-color: rgba(0,0,0,0);
	color: white;
}
.navbar-brand span{
	font-weight: 100;
}

.character{
	color: #FFFFFF;
    font-size: 2em;
    margin: 0;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    text-align: center;
}
.character h2{
	margin-top: 50px;
}
@media only screen and (min-width: 768px) {
	.Background-picture{
		height:200px 
	}
}


.centre{
	margin-top: 100px;
}


.img-character {
	overflow: hidden;
}
@media only screen and (min-width: 768px){
	.img-character {
		width: 31%;
		padding: 0;
		height: 300px;
	}
	.img-character2{
		margin: 0 1%;
	}
	.img-span img{
		height:300px;
	}
	.img-span{
		height: 300px;
	}
}
.img-span{
	position: relative;
	
}
.img-span img{
	width: 100%;
}
.img-span{
	width: 100%;
	overflow: hidden;
}
.img-span .img-change{
	width: 50%;
	height: 50%;
	background-color: red;
		
}
.img-change span{
	width: 5%;
	display: block;
	position: relative;
	left: 38%;
	transform:rotate(50deg);
	font-size: 10px;
	color: white;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
.img-span .img-change{
width: 50%;
height: 158px;
background-color: red;
		
}
.img-character {
		
		padding: 0;
		
	}
.img-span{
height: 300px;
}

.img-span img{
width: 100%;
height: 100%;
}

.img-change span{
width: 10%;
left: 38%;
}
	
.dingwei{
bottom: -32%;
right: 20%;
	
}
	
	
}
.dingwei{
	position: absolute;
	bottom: -32%;
	right: 20%;
	z-index: 9;
}
.img-character {
	margin-bottom: 30px;
	cursor: pointer;
}
.showimg {
	width:600px;
	height:400px;
	position:fixed;
	left:0;
	right:0;
	top:0;
	margin:auto;
	bottom:0;
	background:#fff;
	box-shadow:0px 0px 0px 1000px rgba(0,0,0,0.7);
	z-index:10;
	transform:scale(0,0);
	transition:transform 1s;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.showimg{
		width: 200px;
		height: 135px;
		
	}
	.showimg  img {
		width: 100%;
	}
	
}


.btnL,.btnR {
	width:100px;
	max-height:200px;
	font-size: 50px;
	position:absolute;
	top:calc((100% - 50px) / 2);
	bottom:0;
	margin:auto;
	color: white;
	cursor: pointer;
}
.btnL {
	background-size:100px 200px;
	/*left:5%;*/
}
.btnR {
	background-size:100px 200px;
	left: 100%;
}
.close {
	width:50px;
	height:50px;
	font-size: 30px;
	color: white;
	background-size:50px 50px;
	border-radius:50%;
	position:absolute;
	right:-80px;
	top:-28px;
	cursor: pointer;
}
.close:hover{
	color: white;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
    .btnL {
	background-size:10px 20px;
	/*left:5%;*/
}
.btnR {
	background-size:10px 20px;
	left: 87%;
}
}
body .active {
	transform:scale(1,1);
}





.stern{
	background-color: #101010;
}
.information{
	padding: 1em 0;
    border-bottom: 1px solid #2f2f2f;
    margin-top: 20px;

}
.information p{
	text-align: center;
	color: white;
	
}
.information p a{
	/*color: red;*/
	color: #F44336;
    text-decoration: none;
}
.information p a:hover{
	color: rgba(0,0,0,0);
	color: white;
}
.information-1 p{
	margin-right:35% ;
	}
 h5{
	color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
  /*  margin: 0 0 1em 0;*/
    letter-spacing: 1px;
    text-transform: uppercase;
  
}
   
.left-1 img{
	margin-top: 20px;
	width: 100%;
}
.left-2 p{
	color: #999999;
    font-size: .9em;
    margin-top: 50px;
    line-height: 1.8em;
}
.row-big{
	margin-top: 50px;
}
.middle-row-1 p{
	width: 100%;
	color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.middle-row-1{
		margin-left: 0px;
	    margin-right: 0px;
}

.container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.input-1{
	width: 100%;
    padding: .5em;
    margin-right: 20%;
}
.input-2{
	margin-top: 20px;
	background-color: red;
	border: none;
	height: 30px;
	width: 70px;
}

.right-row-3 li{
    display: inline-block;
	margin: 0 .5em 0 0;
	height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFFFFF;
    
}
.right-row-3 li a{
    color: #FFFFFF;
       
   
	
}
.right-row-3 li a i{
	text-align: center;
	margin-left: 5px;
}
.row-big{
	margin-bottom: 20px;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.information-1 p{
		margin-left: 30%;
	}
	.left-1 img{
		margin-top: 0;
	}
	.left-2 p{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.right-row-3{
		margin-top: 30px;
	}
	.information{
		margin-top: 20px;
	}
}


#back-to-top{
	height: 50px;
	width: 50px;
	position: fixed;
	bottom:10%;
	right: 5%;
	border-radius: 50%;
	border: none;
	background-color: red;
	display: none;
}
#back-to-top a{
	text-align: center;
	margin-left: 15px;
	color: white;
	font-size: 20px;
	font-weight: 900;
	line-height: 48px;
	text-decoration: none;
}


